<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static '/styles/form.css' %}">
    <title>Agregar Nueva Tarea</title>
</head>
<body>
    <h1>
        <div id="main-container">
            <h1>Crear Nueva tarea</h1>
            <a href="{% url 'tareasApp:index' %}">Regresar</a>
            <div id="main-container">
                <form action="" method="post">
                    <div>
                        <label>Nombre</label>
                        <input type="text" name="nombre">
                    </div>
                    <div>
                        <label>Descripcion</label>
                        <input type="text" name="descripcion">
                    </div>
                    <div>
                        <label>Fecha de finalizacion</label>
                        <input type="date" name="fechaFinalizacion">
                    </div>
                    <div>
                        <label>Responsable</label>
                        <input type="text" name="responsable">
                    </div>
                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
    </h1>
</body>
</html>