<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <title>Index</title>
</head>
<body>
    <div id="main-container">
        <h1>Lista de tareas</h1>
        <div id="buttons-container">
            <div class="buttons">
                <a href="{% url 'tareasApp:nuevaTarea'%}">Nueva Tarea</a>
            </div>
            <div class="buttons">
                <a href="{% url 'tareasApp:nuevaTarea'%}">Ver usuario</a>
            </div>
        </div>
        <div>
            <table>
                <thead>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Fecha de finalizacion</th>
                    <th>Estatus</th>
                    <th>Responsable</th>
                </thead>
                <tbody>
                    {% for tarea in listaTareas %}
                    <tr>
                        <td>{{  tarea.nombre }}</td>
                        <td>{{  tarea.descripcion }}</td>
                        <td>{{  tarea.fechaFin }}</td>
                        <td>{{  tarea.status }}</td>
                        <td>{{  tarea.responsable }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>